<div class="mb-3">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="/"><i class="fas fa-globe-americas"></i> WorldBuilder</a>
	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div id="navbarContent" class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/planets">Planets</a>
					</li>
				</ul>
	
				<ul class="navbar-nav ml-auto">
					<% if (currentUser === undefined) { %>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
		
						<li class="nav-item">
							<a class="nav-link" href="/register">Sign Up</a>
						</li>
					<% } else { %> 
						<li class="d-none d-lg-inline">
							<span class="navbar-text mr-3">Logged in as <%= currentUser.username %></span>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
</div>